{{define "tgClientApproval"}}
<a-modal id="tg-client-approval-modal" v-model="tgClientModal.visible" :title="tgClientModal.title" @ok="tgClientModal.ok"
         :confirm-loading="tgClientModal.confirmLoading" :closable="true" :mask-closable="false"
         :ok-text="tgClientModal.okText" cancel-text='{{ i18n "close" }}'>
        <a-form layout="inline">
        <a-form-item>
            <span slot="label">
                Email
                <a-tooltip>
                    <template slot="title">
                        The email must be completely unique
                    </template>
                </a-tooltip>
            </span>
            <a-input v-model.trim="client.email"></a-input>
        </a-form-item>
        <a-form-item>
            <span slot="label">
                IP Count Limit
                <a-tooltip>
                    <template slot="title">
                        disable inbound if more than entered count (0 for disable limit ip)
                    </template>
                    <a-icon type="question-circle" theme="filled"></a-icon>
                </a-tooltip>
            </span>
            <a-input type="number" v-model.number="client.limitIp" min="0" ></a-input>
        </a-form-item>
        <a-form-item label="id">
            <a-input v-model.trim="client.id"></a-input>
        </a-form-item>
        <a-form-item>
            <span slot="label">
                <span >{{ i18n "pages.inbounds.totalFlow" }}</span>(GB)
                <a-tooltip>
                    <template slot="title">
                        0 <span>{{ i18n "pages.inbounds.meansNoLimit" }}</span>
                    </template>
                    <a-icon type="question-circle" theme="filled"></a-icon>
                </a-tooltip>
            </span>
            <a-input-number v-model="client._totalGB" :min="0"></a-input-number>
        </a-form-item>
        <a-form-item>
            <span slot="label">
                <span >{{ i18n "pages.inbounds.expireDate" }}</span>
                <a-tooltip>
                    <template slot="title">
                        <span>{{ i18n "pages.inbounds.leaveBlankToNeverExpire" }}</span>
                    </template>
                    <a-icon type="question-circle" theme="filled"></a-icon>
                </a-tooltip>
            </span>
            <a-date-picker :show-time="{ format: 'HH:mm' }" format="YYYY-MM-DD HH:mm"
                            v-model="client._expiryTime" style="width: 300px;"></a-date-picker>
        </a-form-item>
    </a-form>
</a-modal>
<script>

    const tgClientModal = {
        title: '',
        visible: false,
        confirmLoading: false,
        okText: '{{ i18n "sure" }}',
        isEdit: false,
        confirm: null,
        tgClient: null,
        inbound: null,
        dbInbound: null,
        client: new Inbound.VLESSSettings.VLESS(),
        
        ok() {
            ObjectUtil.execute(tgClientModal.confirm, tgClientModal.inbound, tgClientModal.dbInbound);
        },
        addClient(inbound) {
            switch (inbound.protocol) {
                case Protocols.VMESS: 
                    var i = inbound.settings.vmesses.push(new Inbound.VmessSettings.Vmess());
                    this.client = inbound.settings.vmesses[i - 1];
                    return inbound.settings.vmesses[i - 1];

                case Protocols.VLESS: 
                    var i = inbound.settings.vlesses.push(new Inbound.VLESSSettings.VLESS());
                    this.client = inbound.settings.vlesses[i - 1];
                    return inbound.settings.vlesses[i - 1];

                default:
                    return null;
            }
        },
        show({ title='', okText='{{ i18n "sure" }}', inbound, dbInbound, tgClient, confirm=(inbound, dbInbound)=>{}, isEdit=false  }) {
            this.title = title;
            this.okText = okText;
            this.confirm = confirm;
            this.visible = true;
            this.isEdit = isEdit;
            this.inbound = inbound;
            this.dbInbound = dbInbound;
            this.tgClient = new TgClient(tgClient);
            this.addClient(this.inbound);
        },
        close() {
            tgClientModal.visible = false;
            tgClientModal.loading(false);
        },
        loading(loading) {
            tgClientModal.confirmLoading = loading;
        },

    };

    new Vue({
        delimiters: ['[[', ']]'],
        el: '#tg-client-approval-modal',
        data: {
            tgClientModal: tgClientModal,

            get tgClient() {
                return tgClientModal.tgClient;
            },
            get inbound() {
                return tgClientModal.inbound;
            },
            get dbInbound() {
                return tgClientModal.dbInbound;
            },
            get client() {
                return tgClientModal.client;
            },
            get isEdit() {
                return tgClientModal.isEdit;
            },
        },
        methods: {

        },
    });

</script>
{{end}}
